<div class="pesquisa">
    <div class="g5">
        <dx-form [formData]="pesquisa">
            <dxi-item dataField="procurar"></dxi-item>
        </dx-form>
    </div>
    <div class="g1">
        <dx-button
        stylingMode="contained"
        text="Pesquisar"
        type="normal"
        [style]=""
        [width]="120"
        (onClick)="pesquisarFoto()"
        ></dx-button>
    </div>
</div>

<div class="addFoto">
    <div>
        <form method="post" enctype="multipart/form-data">
            <dx-file-uploader
            #upload
            [multiple]="true"
            selectButtonText="Selecionar Fotos"
            labelText=""
            accept="image/*"
            uploadMode="useForm"
          >
          </dx-file-uploader>
        </form>
    </div>
    <div class="addButton">
        <dx-button
        stylingMode="contained"
        text="Adicionar fotos"
        type="success"
        (onClick)="addFotos()"
        ></dx-button>
        <dx-button
        stylingMode="contained"
        text="Resetar fotos"
        type="normal"
        (onClick)="resetarUpload()"
        ></dx-button>

    </div>
</div>
<div class="clear"></div>

<div class="alboom">
    <div *ngFor="let img of imgs" class="foto">
        <img [src]="'http://localhost:3080/'+img">
        <p>{{img}}</p>
        <dx-button
        stylingMode="contained"
        text="Excluir"
        type="danger"
        [style]=""
        [width]="120"
        (onClick)="excluirFoto(img)"
        ></dx-button>
        <dx-button
        stylingMode="contained"
        text="Download"
        type="normal"
        (onClick)="download(img)"
        ></dx-button>
    </div>
</div>
